@font-face {
    font-family: 'UrchloGC';
    src: url('../fonts/UrchloGC.eot'),
         url('../fonts/urw/UrchloGC.woff') format('woff'), 
         url('../fonts/UrchloGC.ttf') format('truetype'), 
         url('../fonts/UrchloGC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


header {
    font-size: 2.5rem;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #e9ecef;
}

body {
    font-family: 'UrchloGC';
}

main {
    text-align: center;
    font-size: 16px;
    max-width: 70%;

    h1 {
        font-size: 1.875rem;
    }
}
